.Prelex{
    background: url("../../../images/b4.jpg") center no-repeat ;
    /* background-position: 100% 100%; */
    background-size: cover;
    max-width: 100%;
    height: auto;
    padding: 30px 0px;
    margin: 0px;
    text-align: center;
}
.PrelexContent{
    margin: 50px 0px;
}
.Prelex p{
    margin-bottom: 20px;
    line-height: 32px;
}
.Prelex h2{
    width: 100%;
    color: #a82d49;
    padding: 20px 0px;
    padding-bottom: 10px;
}
.Prelex a{
    color: black !important;
    font-size: 15px;
    margin: 20px 0px;

}
.Prelex a:hover{
    color: #a30f2f !important;

}