.Backed
{background: url("../../../images/b10.jpg") no-repeat center fixed ;
    background-size: cover;
    background-position: 0px 68.8051px;
padding: 70px 0px;
text-align: center;

}
.Backed h4{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0.2px;

}
.Href{
    border-radius: 0px !important;
    font-size: 12px !important;
    font-weight: bold !important;

}
.Href:hover{
    border: 3px solid #a82d49 !important;
    background: transparent !important;
    color: #a82d49 !important;
    transition: .4s;

}